
@font-face {
	src: url(fonts/Ovo-Regular.ttf);
   font-family: ovo; 
}




* {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

ul {
	list-style-type: none;

}

li {
	display: inline;
}

li a{
	list-style-type: none;
	text-decoration: none;
}

.header {
	background: linear-gradient(180deg, #1C1C1C 4.72%, rgba(28, 28, 28, 0.25) 120.74%), linear-gradient(180deg, #1C1C1C 4.72%, rgba(28, 28, 28, 0.25) 120.74%), url("./imgs/background.jpg") ;
	background-position: center;	
	background-repeat: no-repeat;
	background-size: cover;
	height: 699px;	
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu {
	justify-content: flex-start;
}

.menu ul {
	margin-top: 53px;
}
.menu li {
	margin-right: 30px;
}

.menu a{
	color: #FFFFFF;
	font-family: ovo;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	right: 30px;
}

.menu li.active {
	padding-bottom: 6px;
	border-bottom: 2px solid white;
}
.menu li:hover {
	padding-bottom: 6px;
	border-bottom: 2px solid white;
}

.media ul{
	margin-top: 44px;
}

.media a{
	padding-right: 12px;
}

.title{
	max-width: 1100px;
	margin-top: 137px;
}
.title h1{
	color: #FFFFFF;
	font-weight: 300;
	font-family: ovo;
	max-width: 603px;
	font-size: 55px;
}
.title p{
	color: #C3C3C3;
	width: 379px;
}