
@font-face {
	src: url(fonts/Ovo-Regular.ttf);
   font-family: ovo; 
}
@font-face {
	src: url(fonts/Mulish-ExtraLight.ttf);
	font-family: mulish;
}
@font-face {
	src: url(fonts/Mulish-Regular.ttf);
	font-family: mulish-bold;
}




* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul {
	list-style-type: none;

}

li {
	display: inline;
}

a{
	list-style-type: none;
	text-decoration: none;
}

p{
	font-family: mulish;
	font-size: 16px;
	line-height: 26px;
	color: #888888;
	letter-spacing: 0.005em;
}

h1 {
	font-weight: 400;
	font-family: ovo;
	line-height: 64px;
	font-size: 55px;
	letter-spacing: -0.005em;
}


.header {
	background: linear-gradient(132.54deg, rgba(28, 28, 28, 0.4) 1.14%, rgba(28, 28, 28, 0.1) 65.96%), linear-gradient(180deg, #1C1C1C 4.72%, rgba(28, 28, 28, 0.25) 120.74%), url("./imgs/back.svg") ;
	background-position: center;	
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 146px;
	background-color: rgba(0, 0, 0, 1);

}

.container{
	max-width: 1150px;
	margin: 0 auto;
	/* border: 1px solid red; */
	padding: 0 50px;
}

.nav-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu {
	justify-content: flex-start;
}

.menu ul {
	margin-top: 53px;
}
.menu li {
	margin-right: 30px;
}

.menu a{
	color: #FFFFFF;
	font-family: ovo;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	right: 30px;
}

.menu li.active {
	padding-bottom: 6px;
	border-bottom: 2px solid white;
}
.menu li:hover {
	padding-bottom: 6px;
	border-bottom: 2px solid white;
}

.media ul{
	margin-top: 44px;
}

.media a{
	padding-left: 12px;
}

.title{
	max-width: 1100px;
	margin-top: 137px;
	
}

.title h1{
	color: #FFFFFF;
	max-width: 603px;
}
.title p{
	color: #C3C3C3;
	width: 379px;
	font-family: mulish;
	margin-top: 30px;
	margin-bottom: 80px;
}
.title a, .text a{
	text-decoration: none;
	font-family: mulish-bold;
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	background-color: #C09737;
	padding: 16px 35px;
	border-radius: 3px;
}


.features{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 110px;
}
.feature:not(:last-child){
	margin-right: 30px;
}
.feature {
	width: 25%;	
}
.features svg{
	height: 40px;
	margin-bottom: 20px;
}
.features h2{
	color: black;
	font-family: ovo;
	font-weight: 20;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.3px;
	margin-bottom: 12px;
}
.line{
	width: 100%;
	background-color: #E5E5E5;
	margin-bottom: 30px;

}
.line div{
	width: 80%;
	background-color: #E5E5E5;
	height: 4px;
}

.features p{
	width: 90%;	
	font-weight: 400;
	display: none;
}
path{
	fill:black;
}
.active path{
	fill: #C09737;
}
.active h2 {
	color: #C09737;
}
.active .line div{
	background-color: #C09737;
}
.active p{
	display: block;
}

.description {
	margin-top: 65px;
	margin-bottom: 125px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; 
}
.description img:not(:last-child){
	margin-right: 30px;
}

.description h1{
	font-size: 48px;
	max-width: 401px;
	line-height: 55px;
	margin-top: 5px;
}
.description p {
	max-width: 385px;
	margin-bottom: 80px;
	margin-top: 20px;
}
.text{
	padding-left: 10px;
	width: 40%;
}

.text2 {
	width: 50%;
}
.text2 h1{
	color: #FFFFFF;
	font-size: 44px;
	padding-top: 100px;
	margin-bottom: 25px;
	line-height: 52px;
}

.text2 p{
	padding-bottom: 123px;
	max-width: 500px;
	
}

.bottom{
	background: linear-gradient(83.02deg, rgba(7, 7, 6, 0.73) -1.95%, rgba(7, 7, 6, 0) 59.73%), url(imgs/back2.svg);
	background-position: center;	
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(0, 0, 0, 1);
}

.btm-bcg {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.70);
}

.footer .foot-nav{
	display: flex;
	justify-content: space-between;
	padding-top: 128px;
}
.footer .info{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 128px;
	justify-content: space-between;
}
.adress, .contact{
	width: 50%;
	min-width: 400px;

}
.contact {
	border-right: 1px solid #C3C3C3;
}
.contact h1{
	margin-bottom: 16px;
	font-size: 44px;
}
.contact path{
	fill: #C09737;
}
.contact a {
	font-family: mulish-bold;
	color: #C09737;
}
.foot-contact a{
	padding-left: 15px;
}

.foot-contact a:hover{

	color: #FFFFFF;
	background-color: #C09737;
	padding: 16px 15px;
	border-radius: 3px;
	/* transition: 
			  padding 0.1s linear; */
	transition: background-color 200ms ease-in-out 0.01s;
}

.foot-contact:hover path{
	fill : #FFFFFF;
}
.adress {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 10%;
}
.adress h3{
	font-family: mulish;
	font-size: 15px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color :#888888;
	margin-bottom: 21px;
}
.adress1 p, .adress2 p{
	max-width: 193px;
	color: #1C1C1C;
}

.footer-menu a{
	color: #1C1C1C;
	font-family: ovo;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	right: 30px;
}
.footer-menu li:not(:last-child){
	
	margin-right: 30px;
}
.footer-menu {
	margin-top: 25px;
}

.footer-menu li.active {
	padding-bottom: 6px;
	border-bottom: 2px solid #1C1C1C;
}
.footer-menu li:hover {
	padding-bottom: 6px;
	border-bottom: 2px solid #1C1C1C;
}
.copyrights {
	max-width: 200px;
	text-align: center;
	color: #C3C3C3;
	font-family: mulish;
	font-size: 16px;
	margin-top: 25px;
}

.foot-nav {
	padding-bottom: 72px;
}
.foot-nav .img{
	width: 33%;
}
.foot-nav .footer-menu {
	width: 33%;
}
.foot-nav .copyrights{
	width: 33%;
}

@media all and (max-width: 1040px) {
	.title {
		width: 100%;
		text-align: center;
	}
	
	.title p, .title h1{
		width: 100%;
		max-width: 100%;
	}
	.features{
		flex-wrap: wrap;
	}
	.feature {
		width: 47%;
		padding-bottom: 20px;
	}
	.feature:not(:last-child){
		margin: 0px;
	}
	.images {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.images img {
		width: 45%;
	}
	.text {
		padding-top: 30px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.text h1, .text p{
		text-align: center;
		width: 100%;
	}
	.description h1, .description p{
		max-width: 100%;
	}
	.text2 {
		width: 100%;
		text-align: center;
	}
	.text2 p{
		max-width: 100%;
	}
	.contact {
		width: 100%;
		text-align: center;
		border-right: 0;
		padding-bottom: 50px;
	}
	.foot-contact a{
		padding-left: 0px;
	}
	.adress {
		padding-left: 0;
		width: 100%;
	}
	.adress1, .adress2{
		width: 50%;
		text-align: center;
	}
	.adress1 p, .adress2 p{
		max-width: 100%;
		text-align: center;
	}
}

@media all and (max-width: 750px) {
	.foot-nav{
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	.foot-nav .footer-menu {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.foot-nav .copyrights{
		width: 100%;
	}
}